<div class="container">
  <div class="col-md-8 col-md-offset-2">
    
  <h2>Welcome, <%= @user.name %></h2>

    <div class="content">
    <h3>Directory</h3>
    <ul>
      <li><a href="/locations/"><button>List all Locations</button></a></li>
      <li><a href="/users/"><button>List all Users</button></a></li>
      <li><a href="/tasks/"><button>List all Tasks</button></a></li>
      </ul>
  </div>
    
    <div id="listArea"></div>
    <div id="moreInfo"><p></p></div>
    
    <div class="sidebar">
      <h3>Menu</h3>
      <ul>
      <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      </ul>
    </div>

  </div>
</div>