<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Task Manager</h2>

    <div class="welcome">
      <h4>
      <br>
    </div>

    <div class="welcome-sidebar">
      <h3>Menu</h3>
      <ul>
        <% if !logged_in? %>
          <li><a href="/login"><button>Log In</button></a></li>
          <li><a href="/users/new"><button>Sign Up</button></a></li>
          <li><a href="/auth/facebook"><button>Sign In with Facebook</button></a></li>
        <% else %>
          <li><a href="/home"><button>Home</button></a></li>
        <% end %>
      </ul>
    </div>
    
  </div>
</div>
